@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::after,
::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* ############# utility classes ############ */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background: #16a083;
    transition: background .4s ease-in;
}

.btn-primary:hover{
    background: #128068;
}

/* ############# navbar-styling ################## */

/* for desktop mode */

.navbar input[type='checkbox'],
.navbar .hamburger{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaaaaa;
    position: fixed;
    width: 100%;
    background: #ffffff;
    color: #000000;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: flex-start;
    height: 64px;
    align-items: center;     
}
 
.menu-items{ 
    order: 2;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 50%;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem; 
}

.logo{
    order: 1;
    font-size: 3rem;
    /* padding-left: 10%; */
} 

.navbar a{
    color: #444444;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

/* ############## showcase area ############### */

#showcase{
    height: 50vh;
    background: url("./Img/header-image2\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}


/* ############### about styling ################ */

#about{
    padding: 50px 0px;
    background: #f5f5f7;
}

.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

#about h2{
    font-size: 3.2rem;
}

#about p{
    font-size: 1.6rem;
    color: #555555;
}

#about .small{
    font-size: 1.6rem;
    color: #666666;
    font-weight: 600;
}

.about-img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: img-animation 1.5s ease-in-out forwards;
}

@keyframes img-animation{
    100%{
        transform: translateX(0%);
    }
}

.about-text{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: text-animation 1.5s ease-in-out forwards;
}

@keyframes text-animation{
    100%{
        transform: translateX(0);
    }
}

.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* ############### food-styling ################ */

#food{
    padding: 5rem 0 10rem 0;
}

#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container{
    display: flex;
    justify-content: space-between;
}

.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container{
    margin: 0rem 1rem;
    position: relative;
}

.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all .3s ease-in-out ;
}

.img-content h3{
    color: #fff;
    font-size: 3rem;
}

.img-content a{
    font-size: 1.2rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all .3s ease-in-out;

}

.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content{
    opacity: 1;
    top: 45%;
}

/* ############### food-menu-styling ################### */

.food-menu-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: #666;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description{
    margin: auto 1.5rem;
}

.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.food-description p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price{
    color: #117964;
    font-weight: 700;
}


/* ###################### testimonial-styling ####################### */

#testimonial{
    background: #f5f5f7;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.testimonial-title{
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    color: #666;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.customer-photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.star-rating{
    text-align: center;
    color: goldenrod;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.testimonial-text{
    text-align: center;
    padding-bottom: 1rem;
}

/* ##################### contact-us-styling #################   */

#contact{
    padding: 5rem 0;
    background: rgba(226, 226, 226);
}

.contact-container{
    display: flex;
    background: #fff;
}

.contact-image{
    width: 50%;
}

.contact-image img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input,
.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid  #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}

.form-container a{
    font-size: 1.2rem;
}

/* ############### footer-styling ############## */

#footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: rgba(65, 65, 65);
}


/* ############### media-queries ############### */

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar input[type='checkbox'],
    .navbar .hamburger{
        display:block;
    }   
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .menu-items{
        padding-left: 0;
    }
    .navbar .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    .navbar .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .navbar .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform .4s ease-in-out;
    }
    .navbar .hamburger-lines .line2{
        transition: transform .4s ease-in-out;
    }
    .navbar .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform .4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform .4s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaaaaa;
    }
    .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .navbar input[type='checkbox']:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    
    /* ################ food category ############## */

    .food-container{
        flex-direction: column;
        align-items: stretch;
    }
    .food-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .food-type{
        box-shadow: 5px 5px 10px 0px #aaaaaa;
    }
    .img-container{
        margin: 0;
    }
}

/* ################ small screen ################### */
@media(max-width:500px){
    html{
        font-size: 50%;
    }
    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-container img{
        margin: auto;
    }
    .form-container{
        width: 90%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-image{
        width: 90%;
        margin: 3rem auto;
    }
}



